<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- namespace : 클래스의 패키지와 유사한 용도 -->
<mapper namespace="com.koiware.pickpop.mapper.addressMapper">
  
<insert id="insertAddress" >
	  insert into tbl_address (address1, address2, postalcode, phone, fk_idcity) values
	  (#{address1}, #{address2}, #{postalcode}, #{phone}, #{idcity})
	  
	  <selectKey resultType="int" keyProperty="idaddress" order="AFTER">
		SELECT LAST_INSERT_ID()
	  </selectKey>
</insert>


<select id="getAddress" resultType="com.koiware.pickpop.domain.AddressVO">
	  select 
	    address1, address2, postalcode, phone, fk_idcity
	  from 
	    tbl_address 
	  where 
	    idaddress = #{idaddress}
</select>

<select id="listCity" resultType="com.koiware.pickpop.domain.CityVO">
	<![CDATA[
	 select 
	   idcity, city
	 from 
	   tbl_city 
	]]>
</select>
  
<select id="getCity" resultType="com.koiware.pickpop.domain.CityVO">
	  select 
	    idcity, city
	  from 
	    tbl_city 
	  where 
	    idcity = #{idcity}
</select>  

</mapper>  

