<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- namespace : 클래스의 패키지와 유사한 용도 -->
<mapper namespace="com.koiware.pickpop.mapper.categoryMapper">

<!-- category bid -->
<select id="listCategoryBig" resultType="com.koiware.pickpop.domain.CategoryBigVO">
	  select 
	    *
	  from 
	    tbl_categorybig 
</select>

<!-- category mid -->
<select id="listCategoryMid" resultType="com.koiware.pickpop.domain.CategoryMidVO">
	<![CDATA[
	 select 
	   *
	 from 
	   tbl_categorymid 
	]]>
</select>

<select id="listCategoryMidWithBigId" resultType="com.koiware.pickpop.domain.CategoryMidVO">
	<![CDATA[
	 select 
	   *
	 from 
	   tbl_categorymid
	 where
	 	idcategorybig = #{idcategorybig}
	]]>
</select>
  
<!-- category sml -->
<select id="listCategorySml" resultType="com.koiware.pickpop.domain.CategorySmlVO">
	<![CDATA[
	 select 
	   *
	 from 
	   tbl_categorysml 
	]]>
</select>

<select id="listCategorySmlWithMidId" resultType="com.koiware.pickpop.domain.CategorySmlVO">
	<![CDATA[
	 select 
	   *
	 from 
	   tbl_categorysml
	 where
	 	idcategorymid = #{idcategorymid}
	]]>
</select>

</mapper>  

