<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- namespace : 클래스의 패키지와 유사한 용도 -->
<mapper namespace="com.koiware.pickpop.mapper.userMapper">
  
<insert id="insertUser" >
	insert into tbl_user (iduser, pwuser, nameuser, nickname, pointuser, idcatetorysml, idaddress) values
	(#{iduser}, #{pwuser}, #{nameuser}, #{nickname}, #{pointuser}, #{idcatetorysml}, #{idaddress})
  
	<selectKey resultType="int" keyProperty="id" order="AFTER">
	SELECT LAST_INSERT_ID()
	</selectKey>
</insert>

<select id="getWithIdPw" resultType="com.koiware.pickpop.domain.UserVO">
  select 
    iduser, pwuser, nameuser, nickname, pointuser, idcatetorysml, idaddress
  from 
    tbl_user 
  where 
    iduser = #{id} and pwuser = #{pw}
</select>

<update id="keepLogin" >
	update tbl_user set sessionKey = #{sessionId}, sessionLimit = #{next} where iduser= #{id}
</update>

<select id="checkUserWithSessionKey" resultType="com.koiware.pickpop.domain.UserVO">
	select * from tbl_seller where sessionKey = #{value}  and sessionlimit > now()
</select>	


<!-- about relation user table -->
<insert id="insertRelationUser" >
  insert into tbl_relation_user (id1, id2, status, actionid) 
  values (#{id1}, #{id2}, #{status}, #{actionid})
</insert>
  
<select id="listRelationUserWithUserID" resultType="com.koiware.pickpop.domain.RelationUserVO">
  select 
    id1, id2, status, actionid
  from 
    tbl_relation_user 
  where 
    id1 = #{user_id} OR id2 = #{user_id}
</select>

</mapper>  

